<div class="booking-wrapper" [dir]="language == 'en' ? 'ltr' : 'rtl'">
    <div nz-row [nzGutter]="[24,10]" nzAlign="middle" nzJustify="center" [dir]="language == 'en' ? 'ltr' : 'rtl'">
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <div class="name-input" >
            <span   class="lable">{{"resource-avaliable-to"|translate}}</span>
            <nz-input-group [dir]="language == 'en' ? 'ltr' : 'rtl'"  [nzAddOnBefore]="language == 'en' ?addOnBeforeTemplate:''" [nzAddOnAfter]="language == 'en' ?'':addOnBeforeTemplate" >
              <input  type="number" [min]="1" nz-input [placeholder]="'resource-avaliable-to'| translate" nzSize="large" [(ngModel)]="avelabelityCount" (ngModelChange)="changeAvelabelityCount($event)" />
            </nz-input-group>
            <ng-template #addOnBeforeTemplate>
              <nz-select (ngModelChange)="changePeriodType($event)"  [ngModel]="periodType">
                <nz-option [nzLabel]="'month'|translate" nzValue="شهر"></nz-option>
                <nz-option [nzLabel]="'year'|translate" nzValue="سنه"></nz-option>
              </nz-select>
            </ng-template>

          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24" [dir]="language == 'en' ? 'ltr' : 'rtl'">
          <p   class="lable">{{"resource-time"|translate}}</p>
          <nz-row [nzGutter]="[24,24]" nzAlign="middle" nzJustify="center" [dir]="language == 'en' ? 'ltr' : 'rtl'">
            <nz-col nzXs="24" nzMd="14"   [dir]="language == 'en' ? 'ltr' : 'rtl'">
              <nz-radio-group [(ngModel)]="resourceTime" [dir]="language == 'en' ? 'ltr' : 'rtl'" (ngModelChange)="changeResourceTime($event)">
                <label class="radio-lable" nz-radio nzValue="وقت الخدمة"><img src="assets/Images/box-time.svg" alt="" style="margin:8px;">{{"service-time"|translate}} </label>
                <label class="radio-lable" nz-radio nzValue="الوقت ثابت"> <img src="assets/Images/clock.svg" alt="" style="margin:8px;"> {{"fixed-time"|translate}} </label>
              </nz-radio-group>

            </nz-col>
          <nz-col nzXs="24" nzMd="10" [dir]="language == 'en' ? 'ltr' : 'rtl'">
            <div class="group" *ngIf="resourceTime == 'الوقت ثابت'" [dir]="language == 'en' ? 'ltr' : 'rtl'">
              <button style="border-radius: 10px;" nz-button nzType="primary"(click)="decreaseTime()">-</button>
              <span>{{timeQuantity}} {{"minute"|translate}}</span>
              <button style="border-radius: 10px;" nz-button nzType="primary" (click)="increaseTime()">+</button>
            </div>
          </nz-col>

        </nz-row>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
          <p  class="lable">{{"multi-booking"|translate}}<img src="assets/Images/clock.svg" alt="" style="margin:8px;" [dir]="language == 'en' ? 'ltr' : 'rtl'"> </p>
          <nz-row [nzGutter]="[24,24]" nzAlign="middle" nzJustify="center" [dir]="language == 'en' ? 'ltr' : 'rtl'">

              <nz-col nzXs="24" nzMd="14"   >
                <nz-radio-group [(ngModel)]="manyBooking" [dir]="language == 'en' ? 'ltr' : 'rtl'" (ngModelChange)="changeManyBooking($event)">
                  <label class="radio-lable" nz-radio nzValue="حجز واحد فقط"><img src="assets/Images/Vector.svg" alt="" style="margin:8px;">{{"only-one-reservation"|translate}} </label>
                  <label class="radio-lable" nz-radio nzValue="حجز اكثر من شخص لنفس الموعد"> <img src="assets/Images/users.svg" alt="" style="margin:8px;">{{"alot-of-person"|translate}}</label>
                </nz-radio-group>

              </nz-col>
              <nz-col nzXs="24" nzMd="10" [dir]="language == 'en' ? 'ltr' : 'rtl'">
                <input class="stores-quantity" *ngIf="manyBooking == 'حجز اكثر من شخص لنفس الموعد'"  type="number" [min]="1" nz-input    nzSize="large" [(ngModel)]="bookingCount" (ngModelChange)="changeBookingCount($event)" />
              </nz-col>
          </nz-row>

        </div>
      </div>
</div>
